<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <style>
      img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }

      .movie-choice {
        position: relative
      }
    </style>
  </head>
  <body>

    <h1 class="center">Home</h1>
    <div style="justify-content:center;align-items:center;display:grid; padding:10px;">
      {% for row in members %}
      <div class="member-box"  style="border:1px solid grey;padding:10px;border-radius:5%;">
        <div class="member-name"id="{{ row['mid'] }}" onclick="myhref(id)" >
          <p>{{ row["name"] }}</p>
          <p>{{ row["date"] }}</p>
        </div>
        <div class="member-box">
          <div class="box-content" memberid="{{ row['member'] }}" style="z-index:-1;"  >
            <!--  Last Movie Chosen (image?), date, new movie choice  -->
              <input aria-label="Movie IMDB Identity" list="{{ row['member'] + 'movie-id' + 'list'}}" onkeyup="autoComplete(id)" type="text" name="movie" id="{{ row['member'] + 'movie-id'}}" size=30 />
              <input aria-label="Chose date type" type="date" name="date" id="{{row['member'] + 'date-input-id'}}" size=30 />
              <button name="{{ row['member']}}" onclick="addMovieChoice(name)">Submit</button>
          </div>
          <div class="modal" id="{{ row['member'] + '-modal'}}">
            <div class="modal-content" id="{{ row['member'] + '-modal-content' }}">
              {% for choice in row["movies"] %}
                <div class="movie-choice">
                  <span class="movie-title">{{ choice["movie_title"] }} </span>
                  <span class="choice-date">{{ choice["date"] }} </span>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <button type="button" id="add-member-button" onclick="toggleActive(this.nextElementSibling)" class="collapsible">Add Member</button>
      <div class="content" id="add-id-input">
        <input aria-label="Name"  type="text" name="name" id="name-entry" size=30 />
        <button onclick="addFamilyMember()">Submit</button>
      </div>
    </div>

  </body>
  <script>
    function myhref(mid) { window.location.href = `/movies/${mid}`; }

    function addMovieChoice(name) {
      const movieImdbId = document.getElementById(name + "movie-id");
      const movieChoices = document.getElementById(name + "movie-idlist");
      const dateChoice = document.getElementById(name + "date-input-id");
      const movieChoice = movieChoices.options.namedItem(movieImdbId.value)
      const movieId = movieChoice.getAttribute('data-id');
      const posterId = movieChoice.getAttribute("poster-id");
      console.log(name, dateChoice, movieImdbId, movieId, posterId);
      fetch("/update", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({"function": "add_movie", data: {"member": name, "movie-name": movieImdbId.value, "poster-id": posterId, "movie-id": movieId, "date": dateChoice.value }})

      }).then(()=> {
        movieImdbId.value = "";
        dateChoice.value = "";
        window.location.reload();

      })
    }
    function autoComplete(id) {
      const titleEle = document.getElementById(id);
      const title = titleEle.value
      fetch("/mdb", {
        method: "POST",
        headers: { "Content-Type": "application/json"},
        body: JSON.stringify({title})
      }).then(response => response.json())
        .then(r => {
          if (r.Response === "True") {
            titleEle.innerHTML = "";
            const acList = document.createElement("datalist");
            acList.setAttribute("id", id + "list");
            //acList.setAttribute("class", "autocomplete-items");
            console.log(r.Search);
            for ( const movie of r.Search ) {
              const movieOption = document.createElement("option");
              movieOption.setAttribute("data-id", movie.imdbID);
              movieOption.setAttribute("poster-id", movie.Poster);
              movieOption.id = `${movie.Title} - ${movie.Year}`;
              movieOption.value = `${movie.Title} - ${movie.Year}`;
              acList.appendChild(movieOption);
            }
            titleEle.appendChild(acList);
          }
        })
    }

    function addFamilyMember() {
      let name = document.getElementById("name-entry").value;
      console.log(name);
      fetch("/update", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({"function": "add_family_member", data: { name } })
      }).then(response => response.json())
        .then(data => {
          let nameField = document.getElementById("name-entry");
          nameField.value = "";
          window.location.reload();
        })
    }

  </script>
</html>
