<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Past Movies</title>
    <link href="css/style.css" rel="stylesheet">
    <!--- I think this is where I should add the movie choices, how to you add parameters to a jinja template? -->
  </head>
  <body>
    <h1>Past Movies</h1>
    {% for choice in choices %}
    <div>
      <img src="{{ choice.posterUrl }}" alt="{{ choice.title }}" class="thumbnail">
      <span class="movie-title-modal">{{ choice.movieTitle }}</span>
      <span class="choice-date-modal">{{ choice.date }}</span>
      <img
    </div>
    {% endfor %}


  </body>
  <script>
  </script>
</html>
