<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  </head>
  <body class="center">
    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}
    <form method="POST"  action="/reset-password">
      <label for="newpassword">    New Password:</label>
      <input type="password" id="newpassword" name="newpassword" value="hunter2"><br>
      <label for="confirmpassword">Confirm-password:</label>
      <input type="password" id="confirmpassword" name="confirmpassword"  value="hunter2"><br>
      <input type="hidden" id="userid" name="userid" value={{ user_id }} readonly><br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
